html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #F4F1F0;
    

   
    
    
}
header{
    
    height: 50px;
    background-color: #BA262D;
    display: flex;
    justify-content: center;
    
    
    

   
}

.menu-logo{
    
    width: 267px;
    
   
 
}

 



a { 
    text-decoration: none;
    color:white;
}
a:hover { 
    text-decoration: none;
    color:white;
    
}



.menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.home{
    display: none;
}
.menu-item {
    
    height: 50px;
    width: 100px;
    padding: auto;
    position: relative;
    
    
}
.menu-a {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;

    font-family: Catamaran, Open Sans;
font-style: normal;
font-weight: semi-bold;
font-size: 15px;

color: #FFFFFF;

}
.menu-a:hover{
    text-decoration: underline;
}

.main_img{
    display: inline-block;
    width: 100%;
    
    
}

.new{
    height: 130px;
    display:flex;
    justify-content: center;
}

.new_line, .sneakers_line{

    background-color: #272528;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
  
}
.sneakers_line{
    margin-top: 80px;
    width: 100%;
}
.new_line > h2{
   
    line-height: 15px;
    font-family: Catamaran, Open Sans;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sneakers_line > h2{
   
    line-height: 15px;
    font-family: Catamaran, Open Sans;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel_container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.carousel {
  background: #F4F1F0;
  width: 70%;
  
}

.carousel-cell {
  width: 256px;
  height: 256px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #BA262D;
}

.menu_offset{
    margin-left: 300px;
}
.wrapper{
    display: flex;
	flex-direction: column;
    min-height: 100%;
	
}
footer{
    width: 100%;
    height: 150px;
    background-color: #272528;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    
   
    
    
    
    
    
}

.footer_heading{
    margin: 20px 0 20px;
    height: 20px;

    font-family: Catamaran, Open Sans;
    font-weight: 500;
    font-size: 15px;
    color: #b9b9b9;
}

.sneakers_container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    
}
.sneakers_item{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    
}

.sneakers_item_name, .sneakers_item_price{

width: 300px;
text-align: center;
font-family: Catamaran, Open Sans;
font-weight: 600;
font-size: 16px;
color:black;

}
.sneakers_item_name {
    padding: 5px;
}
.sneakers_item_price{
    padding-bottom: 40px;
}
.main_empty{
    height: calc(100vh - 200px);
    overflow: auto;
}
.new_h1{
    display:flex;
    justify-content: center;
    font-family: Catamaran, Open Sans;
     font-weight: bold;
    font-size: 36px;
    color:black;
    padding: 30px;
}
li{
  
    font-family: Catamaran, Open Sans;
     font-weight: bold;
    font-size:20px;
    color:black;
    padding-top: 10px;
} 

.box{
    position: relative;
    
   }
   .box img{
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
   }
   .box:hover img{
    filter: brightness(0.4);
   }
   .box .boxContent{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    transform: scale(0, 1);
    transition: all 0.35s ease 0s;
   }
   .box:hover .boxContent{
    transform: scale(1);
   }
   .box .title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin: 23% 0 20px;
    transform: translate3d(0, -100%, 0);
    transition: all 0.35s ease 0s;
   }
   .box .post{
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    transform: translate3d(0, 100%, 0);
    transition: all 0.35s ease 0s;
   }
   .box:hover .title,
   .box:hover .post{
    transform: translate3d(0, 0, 0);
   }
   
   .sneakers_item_icons{
       display: flex;
       justify-content: space-around;
       margin-bottom: 40px;
       margin-top: -20px;
    
   }
   .cart_icon{
       margin-top: 12px;
   }
   .counter{
       
       position: absolute;
       top: 30px;
       right: 30px;
       background-color: #fff;
       color: black;
       height: 15px;
       width: 15px;
       border-radius: 50%;
       font-size: 10px;
       
   }
   .counter_num{
       position: absolute;
       top: -18px;
       right: 4px;
       font-weight: 700;
   }
   .hidden{
       display: none;
   }

   .container_one_view{
       display: flex;
       justify-content: center;
       padding-top: 100px;

      
      
   }
   .info_one_view{
       margin-left: 50px;
       font-family: Catamaran, Open Sans;
     font-weight: 400;
      font-size:20px;
      color:black;
   }
   .info_one_view div{
    padding-bottom: 20px;
   }
   .btn-addToCart{
    background-color: #BA262D; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
     
   }

   .btn-addToCart:hover{
       cursor: pointer;
       background-color: #d42932; 
       
       
   }


  



@media screen and (max-width: 1200px)

{ 

    .menu_offset{
        margin-left: 0px;
    }

}

@media screen and (max-device-width : 400px)

{ 

    .main_img{
        display: none;
    }
    .menu-logo{
        display: none;
    }
    .logo-img{
        display: none;
    }
    .home{
        display: inline-block;
    }

}
@media only screen and (max-width: 990px){
    .box{ margin-bottom: 25px; }
   }
